<div ng-controller="companyController">
    <div class="app-view-header">Create new Company</div>
    <!-- START panel-->
    <div class="panel panel-default">
        <!--<div class="panel-heading">Form Wizard Validate</div>-->
        <div class="panel-body">
            <div ng-init="activeStep=1" class="wizard">
                <ul class="steps-bar">
                    <li ng-class="{'active':activeStep&gt;=1}">
                        <span data-i18n="_Step1_"></span>
                    </li>
                    <li ng-class="{'active':activeStep&gt;=2}">
                        <span data-i18n="_Step2_"></span>
                    </li>
                    <li ng-class="{'active':activeStep&gt;=3}">
                        <span data-i18n="_Step3_"></span>
                    </li>
                </ul>
                <div ng-show="activeStep==1" class="wizard-step">

                    <form name="form_step1" class="form-validate">


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 data-i18n="_CompanyInformation_">
                                    
                                </h4>
                            </div>
                            <div class="panel-body">

                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="padding-top:10px" data-i18n="_Active_"></label>
                                        <div class="col-sm-6">
                                            <div class="checkbox c-checkbox needsclick">
                                                <label class="needsclick">
                                                    <input type="checkbox" value="" class="needsclick" ng-model="model.isActive" />
                                                    <span class="fa fa-check"></span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>


                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" data-i18n="_Name_"></label>
                                        <div class="col-sm-6">
                                            <input type="text" name="name" ng-model="model.name" placeholder="Company Name" class="form-control" required="" />
                                        </div>

                                    </div>
                                </fieldset>


                                <fieldset>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" data-i18n="_Customer_"></label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="model.iCustomer" required="">
                                                <option value="">Select Customer</option>
                                                <option ng-repeat="c in cusList" value="{{c.iCustomer}}">{{c.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>


                                <fieldset>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" data-i18n="_Country_"></label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="model.countryId" required="">
                                                <option value="">Select Country</option>
                                                <option ng-repeat="c in countryList" value="{{c.id}}">{{c.title}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>


                                <fieldset>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"  data-i18n="_TimeZone_"></label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="model.timeZoneId">
                                                <option value="1">(GMT-12:00) International Date Line West</option>
                                                <option value="2">(GMT-11:00) Midway Island, Samoa</option>
                                                <option value="3">(GMT-10:00) Hawaii</option>
                                                <option value="4">(GMT-09:00) Alaska</option>
                                                <option value="5">(GMT-08:00) Pacific Time (US & Canada)</option>
                                                <option value="6">(GMT-08:00) Tijuana, Baja California</option>
                                                <option value="7">(GMT-07:00) Arizona</option>
                                                <option value="8">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                                                <option value="9">(GMT-07:00) Mountain Time (US & Canada)</option>
                                                <option value="10">(GMT-06:00) Central America</option>
                                                <option value="11">(GMT-06:00) Central Time (US & Canada)</option>
                                                <option value="12">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                                                <option value="13">(GMT-06:00) Saskatchewan</option>
                                                <option value="14">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                                                <option value="15">(GMT-05:00) Eastern Time (US & Canada)</option>
                                                <option value="16">(GMT-05:00) Indiana (East)</option>
                                                <option value="17">(GMT-04:00) Atlantic Time (Canada)</option>
                                                <option value="18">(GMT-04:00) Caracas, La Paz</option>
                                                <option value="19">(GMT-04:00) Manaus</option>
                                                <option value="20">(GMT-04:00) Santiago</option>
                                                <option value="21">(GMT-03:30) Newfoundland</option>
                                                <option value="22">(GMT-03:00) Brasilia</option>
                                                <option value="23">(GMT-03:00) Buenos Aires, Georgetown</option>
                                                <option value="24">(GMT-03:00) Greenland</option>
                                                <option value="25">(GMT-03:00) Montevideo</option>
                                                <option value="26">(GMT-02:00) Mid-Atlantic</option>
                                                <option value="27">(GMT-01:00) Cape Verde Is.</option>
                                                <option value="28">(GMT-01:00) Azores</option>
                                                <option value="29">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                                                <option value="30">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                                <option value="31">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                                                <option value="32">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                                                <option value="33">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                                                <option value="34">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                                                <option value="35">(GMT+01:00) West Central Africa</option>
                                                <option value="36">(GMT+02:00) Amman</option>
                                                <option value="37">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                                                <option value="38">(GMT+02:00) Beirut</option>
                                                <option value="39">(GMT+02:00) Cairo</option>
                                                <option value="40">(GMT+02:00) Harare, Pretoria</option>
                                                <option value="41">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                                                <option value="42">(GMT+02:00) Jerusalem</option>
                                                <option value="43">(GMT+02:00) Minsk</option>
                                                <option value="44">(GMT+02:00) Windhoek</option>
                                                <option value="45">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                                                <option value="46">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                                                <option value="47">(GMT+03:00) Nairobi</option>
                                                <option value="48">(GMT+03:00) Tbilisi</option>
                                                <option value="49">(GMT+03:30) Tehran</option>
                                                <option value="50">(GMT+04:00) Abu Dhabi, Muscat</option>
                                                <option value="51">(GMT+04:00) Baku</option>
                                                <option value="52">(GMT+04:00) Yerevan</option>
                                                <option value="53">(GMT+04:30) Kabul</option>
                                                <option value="54">(GMT+05:00) Yekaterinburg</option>
                                                <option value="55">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                                                <option value="56">(GMT+05:30) Sri Jayawardenapura</option>
                                                <option value="57">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                                                <option value="58">(GMT+05:45) Kathmandu</option>
                                                <option value="59">(GMT+06:00) Almaty, Novosibirsk</option>
                                                <option value="60">(GMT+06:00) Astana, Dhaka</option>
                                                <option value="61">(GMT+06:30) Yangon (Rangoon)</option>
                                                <option value="62">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                                                <option value="63">(GMT+07:00) Krasnoyarsk</option>
                                                <option value="64">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                                                <option value="65">(GMT+08:00) Kuala Lumpur, Singapore</option>
                                                <option value="66">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                                                <option value="67">(GMT+08:00) Perth</option>
                                                <option value="68">(GMT+08:00) Taipei</option>
                                                <option value="69">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                                                <option value="70">(GMT+09:00) Seoul</option>
                                                <option value="71">(GMT+09:00) Yakutsk</option>
                                                <option value="72">(GMT+09:30) Adelaide</option>
                                                <option value="73">(GMT+09:30) Darwin</option>
                                                <option value="74">(GMT+10:00) Brisbane</option>
                                                <option value="75">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                                                <option value="76">(GMT+10:00) Hobart</option>
                                                <option value="77">(GMT+10:00) Guam, Port Moresby</option>
                                                <option value="78">(GMT+10:00) Vladivostok</option>
                                                <option value="79">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                                                <option value="80">(GMT+12:00) Auckland, Wellington</option>
                                                <option value="81">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                                                <option value="82">(GMT+13:00) Nuku'alofa</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>



                                <div class="mt">
                                    <button type="submit" ng-disabled="form_step1.$invalid" ng-click="activeStep=2" class="btn btn-primary" data-i18n="_Next_"></button>
                                </div>
                            </div>
                                    </div>
</form>
                </div>
                <div ng-show="activeStep==2" class="wizard-step">
                    <h4>
                       <span data-i18n="_RoleandPermission_"></span>
                        <!--<small>&mdash; Step 2</small>-->
                    </h4>
                    <form name="form_step2" class="form-validate">
                        <!--<div ng-include="'/app/views/admin/role.permission.html'">
                        </div>-->


                        <div class="row">
                            <div class="col-md-12">

                                <!-- START panel-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body">

                                        <fieldset>


                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" data-i18n="_RoleName_"></label>
                                                <div class="col-sm-10">

                                                    <input type="text" placeholder="Role" name="role" ng-model="model.roleName" required="required" class="form-control" />

                                                </div>
                                            </div>
                                        </fieldset>


                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" style="padding-top:10px" data-i18n="_SelectAll_"></label>
                                                <div class="col-sm-6">
                                                    <div class="checkbox c-checkbox needsclick">
                                                        <label class="needsclick">
                                                            <input type="checkbox" value="" class="needsclick" ng-model="selectedAll" ng-click="selectAllCheckCompany()" />
                                                            <span class="fa fa-check"></span>
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </fieldset>

                                        <fieldset ng-repeat="c in permissionList">

                                            <div class="col-md-12">
                                                <h4 class="page-header">{{c.category}}</h4>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="panel panel-default" ng-repeat="a in c.actions">
                                                        <div class="panel-heading">
                                                            <div class="panel-title">{{a.action}}</div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <fieldset>
                                                                <div class="form-group">

                                                                    <div class="col-md-12">
                                                                        <div class="checkbox-inline c-checkbox needsclick" ng-repeat="p  in a.permissionModel" style=" margin-right:30px;">
                                                                            <label class="needsclick">
                                                                                <input type="checkbox" value="true" class="needsclick" ng-checked="p.isAllowed" ng-model="p.isAllowed" />
                                                                                <span class="fa fa-check"></span>{{p.permission}}
                                                                            </label>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </fieldset>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </fieldset>
                                    </div>


                                </div>
                                <!-- END panel-->
                                <!-- END row-->

                            </div>
                        </div>


                        <div class="mt">
                            <button type="button" ng-click="activeStep=1" class="btn btn-default" data-i18n="_Prev_"></button>
                            <button type="submit" ng-disabled="form_step2.$invalid" ng-click="activeStep=3" class="btn btn-primary" data-i18n="_Next_"></button>
                        </div>
                    </form>
                </div>
                <div ng-show="activeStep==3" class="wizard-step">
                    <h4>
                        User
                        <!--<small>&mdash; Step 3</small>-->
                    </h4>

                    <form name="form_step3" class="form-validate">
                        <!--<div ng-include="'/app/views/admin/user.company.html'">
                        </div>-->
                        <!-- START panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <!--<div class="panel-title">User</div>-->
                            </div>
                            <div class="panel-body">



                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="padding-top:10px" data-i18n="_Active_"></label>
                                        <div class="col-sm-6">
                                            <div class="checkbox c-checkbox needsclick">
                                                <label class="needsclick">
                                                    <input type="checkbox" value="" class="needsclick" ng-model="model.User.isActive" />
                                                    <span class="fa fa-check"></span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>



                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" data-i18n="_FirstName_"></label>
                                        <div class="col-sm-6">
                                            <input type="text" ng-model="model.User.firstName" required="" class="form-control" />
                                        </div>

                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" data-i18n="_LastName_"></label>
                                        <div class="col-sm-6">
                                            <input type="text" ng-model="model.User.lastName" required="" class="form-control" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" data-i18n="_Email_"></label>
                                        <div class="col-sm-6">
                                            <input type="email" ng-model="model.User.email" required="" class="form-control" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" data-i18n="_Password*_"></label>
                                        <div class="col-sm-6">
                                            <!--<input type="password" ng-model="model.password" required="" class="form-control" />-->
                                            <input id="id-source" type="password" placeholder="Type your password" ng-model="model.User.password" class="form-control" />
                                        </div>
                                    </div>
                                </fieldset>

                                <!--<input type="password" ng-model="model.confirmPassword" required="" class="form-control" />-->

                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" data-i18n="_ConfirmPassword*_"></label>
                                        <div class="col-sm-6">
                                            <input id="id-confirm" type="password" placeholder="Retype your password" name="confirm_match" data-parsley-equalto="#id-source" ui-validate="'$value==model.User.password'" ui-validate-watch="'validator.User.password'" required="" ng-model="model.User.confirmPassword" class="form-control" />
                                        </div>
                                    </div>
                                </fieldset>


                            </div>


                        </div>
                        <!-- END panel-->
                        <!-- END row-->


                    </form>


                    <div ng-show="stepsDone" class="alert alert-success mv-lg">
                        <p class="text-bold m0" data-i18n="_Excellent!You'vecompletedallsteps._"> </p>
                    </div>
                    <div class="mt">
                        <button type="button" ng-click="activeStep=2" class="btn btn-default" data-i18n="_Prev_"></button>
                        <!--<button type="button" ng-disabled="form_step3.$invalid" ng-click="stepsDone=true" class="btn btn-primary">Finish</button>-->
                        <button type="button" ng-disabled="form_step3.$invalid" ng-click="companySubmit()" class="btn btn-primary" data-i18n="_Finish_"></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



























