<style>
    .btn-default {
        color: #585F69 !important;
        background-color: #ffffff;
        border-color: #e6e9ee;
    }
</style>

<div class="app-view-header">
   <span data-i18n="_Products_"></span>
</div>


<!-- START row-->
<div ng-controller="productController" class="row">
    <div class="col-md-12">

        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">

                <fieldset>

                    <div class="form-group">

                        <label class="col-sm-2 control-label" data-i18n="_DIDProducts_"></label>
                        <div class="col-sm-4">
                            <ui-select multiple="" ng-model="model.selectedDDIList" theme="bootstrap">
                                <ui-select-match placeholder="Select DID Products...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="did in productListDid track by $index | filter:$select.search">{{did.name}}</ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">

                        <label class="col-sm-2 control-label" data-i18n="_ExtensionProducts_"></label>
                        <div class="col-sm-4">
                            <ui-select multiple="" ng-model="model.selectedExtensionList" theme="bootstrap">
                                <ui-select-match placeholder="Select Extension Products...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="ex in productListExt track by $index | filter:$select.search">{{ex.name}}</ui-select-choices>
                            </ui-select>
                        </div>

                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">

                        <label class="col-sm-2 control-label" data-i18n="_IVRProducts_"></label>
                        <div class="col-sm-4">
                            <ui-select multiple="" ng-model="model.selectedIVRList" theme="bootstrap">
                                <ui-select-match placeholder="Select Extension Products...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="ex in productListExt track by $index | filter:$select.search">{{ex.name}}</ui-select-choices>
                            </ui-select>
                        </div>

                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">

                        <label class="col-sm-2 control-label" data-i18n="_VoiceMailProducts_"></label>
                        <div class="col-sm-4">
                            <ui-select multiple="" ng-model="model.selectedVoiceMailList" theme="bootstrap">
                                <ui-select-match placeholder="Select Extension Products...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="ex in productListExt track by $index | filter:$select.search">{{ex.name}}</ui-select-choices>
                            </ui-select>
                        </div>

                    </div>
                </fieldset>

            </div>


            <div class="panel-footer text-center">
            <button type="submit" class="btn btn-info" ng-click="productSubmit()" data-i18n="_Submit_"></button>
            </div>

        </div>
        <!-- END panel-->
        <!-- END row-->

    </div>
</div>
