<div ng-controller="userController">
    <div class="app-view-header">
        <div ng-if="system.userType != 1" data-i18n="_Users_"></div>
        <div ng-if="system.userType == 1" data-i18="_Customers_"></div>

        <a href="#/app/user?id=0" ng-if="permissionAccessLevel.isAdd" class="btn btn-success pull-right" style="margin-top:10px;" data-i18n="_Register_"> {{system.pageTitle}}</a>
    </div>




    <div class="container-fluid">

        <table class="table table-bordered table-hover bg-white">
            <tr style="font-weight: bold">
                <td style="width:20%" data-i18n="_FirstName_"></td>
                <td style="width:20%" data-i18n="_LastName_"></td>
                <td style="width:30%" data-i18n="_Email_"></td>
                <td style="width:10%" ng-if="system.userType != 1" data-i18n="_Role_"></td>
                <td style="width:10%" data-i18n="_Active_"></td>
                <td style="width:10%"></td>
            </tr>

            <tr ng-repeat="user in userList">
                <td>
                    <span>{{ user.firstName}}</span>
                </td>
                <td>
                    <span>{{ user.lastName}}</span>
                </td>
                <td>
                    <span>{{ user.email}}</span>
                </td>
                <td ng-if="system.userType != 1">
                    <span>{{ user.roleName}}</span>
                </td>
                <td>
                    <span>{{ user.isActive?"Yes":"No"}}</span>
                </td>
                <!--<td>
                    <span>{{ user.isActive?'Yes':'No'}}</span>
                </td>-->

                <td style="white-space: nowrap">

                    <div class="buttons">
                        <a href="#/app/edituser?id={{user.id}}" ng-if="permissionAccessLevel.isEdit" title="Edit" class="btn btn-sm btn-info">
                            <em class="fa fa-pencil"></em>
                        </a>
                        <button ng-click="deleteUser(user.id)" ng-if="permissionAccessLevel.isDelete" title="Delete" class="btn btn-sm btn-danger">
                            <em class="fa fa-trash"></em>
                        </button>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>
