<div class="login">
    <div class="container container-sm animated fadeInDown" data-ng-controller="loginController">
        <div class="center-block mt-xl">
            <!-- START panel-->
            <div style="padding-bottom:10px;">
                <img src="{{serviceBase}}/Assets/Images/CompanyLogo/Logo.png" alt="Image" style="width:30%" class="center-block img-rounded" />
            </div>

            <!--<h1 style="text-align:center">Smart Reports</h1>-->
            <div class="panel">
                <div class="panel-body">
                    <p class="pv text-bold" data-i18n="_LOGINCREDENTIALS_"></p>
                    <form role="form" class="mb-lg">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback mb">
                                    <input type="email" placeholder="Your email" autocomplete="off" class="form-control" data-ng-model="loginData.userName" />
                                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                                </div>
                                <br />
                                <div class="form-group has-feedback">
                                    <input type="password" placeholder="Your password" class="form-control" data-ng-model="loginData.password" />
                                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                                </div>
                                <div class="checkbox c-checkbox pull-left mt0">
                                    <label>
                                        <input type="checkbox" value="" ng-model="loginData.rememberMe" />
                                        <span class="fa fa-check"></span><span data-i18n="_Rememberme_"></span>
                                    </label>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-block btn-info mb" data-ng-click="login()" data-i18n="_Login_"></button>

                            </div>
                            <div class="text-center mt">
                                <a ui-sref="recover" class="text-muted" data-i18n="_Forgotyourpassword?_"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- END panel-->
            <footer ng-include="'app/views/cached/footer.html'" class="p-lg text-center"></footer>
            <!--<div ng-include="'app/views/page.footer.html'" class="p-lg text-center"></div>-->
        </div>
    </div>
</div>