<div class="login">
    <div class="container container-sm animated fadeInDown" ng-controller="passwordResetController">
        <div class="center-block mt-xl">
            <div style="padding-bottom:10px;">
                <img src="{{serviceBase}}/Assets/Images/CompanyLogo/Logo.png" alt="Image" style="width:30%" class="center-block img-rounded" />
            </div>


            <!-- START panel 1-->

            <div class="panel" ng-show="model.panel1">
                <div class="panel-body">
                    <p class="pv">
                        <strong data-i18n="_RESETPASSWORD_"></strong>
                        <br /> <span data-i18n="_WewillsendyouVerifyCodetoresetyourpassword._"></span>
                    </p>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group has-feedback">
                                <input type="email" placeholder="Your email" autocomplete="off" class="form-control" ng-model="model.email" />
                                <span class="fa fa-envelope form-control-feedback text-muted"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-danger btn-block" ng-click="emailVarification()" data-i18n="_Send_"></button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END panel-->
            <!-- START panel 2-->

            <div class="panel" ng-show="model.panel2">
                <div class="panel-body">
                    <p class="pv">
                        <strong data-i18n="_RESETPASSWORD_"></strong>
                        <br /><span data-i18n="_Pleaseentergivencodewhichweemailedyou._"></span>
                    </p>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group has-feedback">
                                <input type="text" placeholder="Code" autocomplete="off" class="form-control" ng-model="model.code" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-block" ng-click="verifyCode()" data-i18n="_Submit_"></button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END panel-->
            <!-- START panel 3-->

            <div class="panel" ng-show="model.panel3">
                <div class="panel-body">
                    <p class="pv">
                        <strong data-i18n="_RESETPASSWORD_"></strong>
                        <br /> <span data-i18n="_Pleaseenterpasswordandconfirmpassword._"></span>
                    </p>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" data-i18n="_Password*_"></label>
                            <div class="col-sm-6">
                                <input type="password" ng-model="model.Password" required="" class="form-control" />
                            </div>

                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" data-i18n="_ConfirmPassword*_"></label>
                            <div class="col-sm-6">
                                <input type="password" ng-model="model.confirmPassword" required="" class="form-control" />
                            </div>

                        </div>
                    </fieldset>

                </div>
                <div class="panel-footer text-center">
                    <button type="submit" class="btn btn-block btn-primary" ng-click="resetPassword()" data-i18n="_Submit_"></button>
                </div>
            </div>
            <!-- END panel-->



            <div ng-include="'app/views/page.footer.html'" class="p-lg text-center"></div>
        </div>
    </div>
</div>