<div class="app-view-header">
    Role
</div>


<!-- START row-->
<div ng-controller="roleController" class="row">
    <div class="col-md-12">
        <form name="roleForm" ng-submit="roleSubmit(roleForm.$valid)">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!--<div class="panel-title">Role</div>-->
                </div>


                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" data-i18n="_Name_"></label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="model.roleName" required="" class="form-control" />
                            </div>

                        </div>
                    </fieldset>
                </div>


                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-info" ng-click="cancel()" data-i18n="_Cancel_"></button>
                    <button type="submit" class="btn btn-info" ng-disabled="roleForm.$invalid"  data-i18n="_Submit_"></button>
                </div>

            </div>
            <!-- END panel-->
            <!-- END row-->
        </form>

</div>
</div>
