<div ng-controller="userController">
    <div class="app-view-header">
        User
    </div>

    <!--<div class="container container-sm animated">-->
    <!-- START row-->
    <div class="row">
        <div class="col-md-12">

            <!--novalidate-->
            <form name="userForm" ng-submit="userSubmit(userForm.$valid)">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!--<div class="panel-title">User</div>-->
                    </div>
                    <div class="panel-body">

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="padding-top:10px" data-i18n="_Active_"></label>
                                <div class="col-sm-6">
                                    <div class="checkbox c-checkbox needsclick">
                                        <label class="needsclick">
                                            <input type="checkbox" value="" class="needsclick" ng-model="model.isActive" />
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </fieldset>



                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" data-i18n="_FirstName_"></label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="model.firstName" required="" class="form-control" />
                                </div>

                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" data-i18n="__LastName__"></label>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="model.lastName" required="" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" data-i18n="_Email_"></label>
                                <div class="col-sm-6">
                                    <input type="email" ng-model="model.email" required="" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" data-i18n="_Password*_"></label>
                                <div class="col-sm-6">
                                    <input type="password" ng-model="model.password" required="" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" data-i18n="_Confirm Password*_"></label>
                                <div class="col-sm-6">
                                    <input type="password" ng-model="model.confirmPassword" required="" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" data-i18n="_Role_"></label>
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="model.roleId" required="">
                                        <option ng-repeat="s in roleList" value="{{s.id}}">{{s.roleName}}</option>

                                    </select>
                                </div>
                            </div>
                        </fieldset>

                    </div>

                    <div class="panel-footer text-center">
                        <button type="button" class="btn btn-info" ng-click="cancel()" data-i18n="_Cancel_"></button>
                        <button type="submit" class="btn btn-info" ng-disabled="userForm.$invalid" data-i18n="_Submit_"></button>
                    </div>

                </div>
                <!-- END panel-->
                <!-- END row-->

            </form>
        </div>
    </div>

    <!--</div>-->
</div>