<!-- START Sidebar-->
<div class="sidebar-wrapper" ng-controller="sidebarController">

    <div ui-sidebar="" class="sidebar">
        <div class="sidebar-nav">
            <ul class="nav" data-ng-bind-html="bindNav"></ul>

        </div>
    </div>
</div>
<!-- END Sidebar-->