<!-- START Top Navbar-->
<nav role="navigation" ng-controller="HeaderNavController" class="navbar topnavbar" style=" /* position: fixed; */ position: fixed; top: 0; left: 0; z-index: 999; width: 100%;  background: #3f51b5;">
    <!--<nav role="navigation" ng-controller="HeaderNavController" class="navbar topnavbar">-->
    <!-- START button offset-->
    <div class="btn-offset">
        <!--<button type="button" btn-layer-morph="" target="#layer-search" ripple="" class="btn btn-info btn-circle btn-lg shadow-z1">
           <em class="fa fa-search"></em>
        </button>-->
    </div>
    <!-- START button offset-->
    <!-- START navbar header-->
    <div class="navbar-header">
        <a ui-sref="app.dashboard" class="navbar-brand">
            <!--<img src="app/img/wavetel-smartreports.png" style="width:130px;" alt="App Logo" class="brand-logo" />-->

            <img src="{{serviceBase}}/Assets/Images/CompanyLogo/Logo.png" style="width:130px;" alt="App Logo" class="brand-logo" />
           <!--Smart Reports-->
        </a>
        <!-- Mobile buttons-->
        <div class="mobile-toggles">
            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a href="" ng-click="app.sidebar.isOffscreen = !app.sidebar.isOffscreen" class="sidebar-toggle">
                <em class="fa fa-navicon"></em>
            </a>
            <!-- Button to show/hide the header menu on mobile. Visible on mobile only.-->
            <a href="" ng-click="toggleHeaderMenu()" class="menu-toggle hidden-material">
                <em class="fa fa-ellipsis-v fa-fw"></em>
            </a>
        </div>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div collapse="headerMenuCollapsed" class="nav-wrapper collapse navbar-collapse">
        <!-- START Left navbar-->

        <ul class="nav navbar-nav hidden-material">
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <a href="" ng-click="app.sidebar.isOffscreen = !app.sidebar.isOffscreen" class="hidden-xs">
                    <em ng-class="app.sidebar.isOffscreen ? 'fa-caret-right':'fa-caret-left'" class="fa"></em>
                </a>
            </li>
            <li>
                <a title="{{customer}}">
                    {{customer}}
                </a>

            </li>
            <li>
                <a title="{{userTitle}}">
                    {{userTitle}}

                </a>

            </li>





            <li>
                <a ui-sref="app.profile" title="Profile">
                    <em class="icon-head"></em>

                    <span class="visible-xs-inline ml">Profile</span>
                </a>

            </li>


              <li dropdown="" class="dropdown" style="">
                <a href="" dropdown-toggle="" ripple="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <em class="fa fa-th fa-fw"></em>
                    <span class="visible-xs-inline ml">Language</span>
                    <span class="ripple"><span class="angular-ripple" style="width: 70px; height: 70px; left: -14.6563px; top: -4px;"></span></span>
                </a>
                <!-- START Dropdown menu-->
                <ul id="bg-white" class="dropdown-menu p wd-lg">
                    <div class="row ml0 mr0 mt mb text-center">
                        <div class="col-xs-4">
                            <div class="pv">
                                <a ng-click="loadLanguege('en-US')" href="">
                                    <span class="block mb">
                                        <!--<em class="icon-head fa-2x text-warning"></em>-->
                                        <span class="lang-sm lang-lbl" lang="en">English</span>
                                    </span>

                                </a>
                            </div>
                        </div>



                        




                        <div class="col-xs-4">
                            <div class="pv">
                                <a ng-click="loadLanguege('de')" href="">
                                    <span class="block mb">
                                        <!--<em class="icon-head fa-2x text-warning"></em>-->
                                        <span class="lang-sm lang-lbl" lang="de">German</span>
                                    </span>

                                </a>
                            </div>
                        </div>





                    </div>
                </ul>
            </li>


            <li>
                <a href="" title="Log Out" ng-click="logout()">
                    <em class="fa fa-power-off"></em>
                    <span class="visible-xs-inline ml">Log Out</span>
                </a>

            </li>


            <!-- END lock screen-->
        </ul>
        <!-- END Left navbar-->
    </div>
    <!-- END Nav wrapper-->

</nav>
<!-- END Top Navbar-->
