<!-- top navbar-->
<header ng-include="'app/views/cached/top-navbar.html'" ng-class="app.theme.topbar"></header>
<!-- Sidebar-->
<aside ng-include="'app/views/cached/sidebar.html'" ng-class="app.theme.sidebar"></aside>
<!-- Main-->
<section>
   <!-- Content-->
   <div ui-view="" autoscroll="false" ng-class="app.views.animation" class="app" style="padding-top:90px;"></div>
</section>
<!-- Page footer-->
<footer ng-include="'app/views/cached/footer.html'"></footer>
