<div class="app-view-header">
    App Settings
</div>


<!-- START row-->
<div ng-controller="appsettingController" class="row">
    <div class="col-md-12">
        <form name="appsettingForm" ng-submit="appSettingSubmit(appsettingForm.$valid)">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" data-i18n="_Logo_"> </label>
                            <div class="col-sm-3">
                                <input type="file" id="UploadLogo" fileread="model.logo" value="Select Logo" />
                                
                            </div>
                            <div class="col-sm-3">
                                <img style="width:100px; height:100px;" src="{{model.logo}}" alt="Logo" class="img-thumbnail">

                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" data-i18n="_LicenseKey_"> </label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="model.licenseKey" required="" class="form-control" />
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" data-i18n="_CustomCSS_"> </label>
                            <div class="col-sm-6">
                                <textarea type="text" ng-model="model.customStyles" class="form-control" style="height:300px;" />
                            </div>
                        </div>
                    </fieldset>

                </div>


                <div class="panel-footer text-center">
                    <button type="submit" class="btn btn-info" ng-disabled="appsettingForm.$invalid" data-i18n="_Submit_"></button>
                </div>

            </div>
            <!-- END panel-->
            <!-- END row-->
        </form>
    </div>
</div>
<script>


</script>