﻿<div class="col-md-12">
    <h4 class="page-header">Chart</h4>


    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" data-i18n="_TotalCalls_"></div>
            </div>
            <div class="panel-body">
                <flot dataset="totalCalls" options="chartBarFlotChart"></flot>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" data-i18n="_TotalOut_"></div>
            </div>
            <div class="panel-body">
                <flot dataset="out" options="chartBarFlotChart"></flot>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" data-i18n="_TotalIn_"></div>
            </div>
            <div class="panel-body">
                <flot dataset="inCalls" options="chartBarFlotChart"></flot>

            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" data-i18n="_TotalCallsMissed_"></div>
            </div>
            <div class="panel-body">
                <flot dataset="missed" options="chartBarFlotChart"></flot>

            </div>
        </div>
    </div>

</div>