<div ng-controller="dashboardController">
    <div class="app-view-header">
        <span data-i18n="_DashboardTitle_"></span>
        <div class="pull-right"> <a class="btn btn-danger" href="#/wallboard?skey={{model.iCustomer}}" target="_blank" type="button"><span data-i18n="_WallBoard_"></span> </a> </div>
    </div>

    <div class="row" id="dasboardPage" ng-cloak class="page ng-cloak">
        <!-- START dashboard content-->
        <div class="col-lg-12 fw-boxed">

            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-12">

                        <!-- START dashboard sidebar-->
                        <aside class="col-md-12 fw-boxed" style="margin-top:10px;">
                            <div class="row">
                                <!--<div class="col-lg-6 col-sm-3 col-xs-6">-->
                                <!--<div class="col-lg-3 col-sm-3 col-xs-3">
                                    <div ripple="" class="panel panel-default">
                                        <div ng-class="'bg-' + app.theme.name" class="panel-body">
                                            <h1 class="text-thin mt">{{model.totalCalls}}</h1>
                                            <div class="text-right text-sm text-muted">Total Calls</div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="col-lg-3 col-sm-3 col-xs-3">
                                    <div ripple="" class="panel panel-default">

                                        <div ng-class="'bg-' + app.theme.name" class="panel-body">
                                            <h1 class="text-thin mt">{{model.totalIn}}</h1>
                                            <div class="text-right text-sm text-muted"><span data-i18n="_In_"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-xs-3">
                                    <div ripple="" class="panel panel-default">

                                        <div ng-class="'bg-' + app.theme.name" class="panel-body">
                                            <h1 class="text-thin mt">{{model.totalOut}}</h1>
                                            <div class="text-right text-sm text-muted"><span data-i18n="_TotalOutCalls_"></span></div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-lg-3 col-sm-3 col-xs-3">
                                    <div ripple="" class="panel panel-default">
                                        <div ng-class="'bg-' + app.theme.name" class="panel-body">
                                            <h1 class="text-thin mt">{{model.totalAnswered}}</h1>
                                            <div class="text-right text-sm text-muted"><span data-i18n="_Answered_"></span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-3 col-xs-3">
                                    <div ripple="" class="panel panel-default">
                                        <div ng-class="'bg-' + app.theme.name" class="panel-body">
                                            <h1 class="text-thin mt">{{model.totalMissed}}</h1>
                                            <div class="text-right text-sm text-muted"><span data-i18n="_Missed_"></span></div>
                                        </div>
                                    </div>
                                </div>

                             

                            </div>

                        </aside>
                    </div>
                </div>
            </div>

            <!-- END dashboard sidebar-->
            <!-- START Responsive table-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span data-i18n="_ActiveCalls_"></span> 
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th class="text-center"><span data-i18n="_From_"></span></th>
                                <th class="text-center"><span data-i18n="_To_"></span></th>
                                <th class="text-center"><span data-i18n="_DurationMins_"></span></th>
                                <th class="text-center"><span data-i18n="_CallType_"></span></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in activeCallsList">
                                <td>{{data.cli}}</td>
                                <td>{{data.cld}}</td>
                                <td>{{data.durationMins}}</td>
                                <td>{{data.callType}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <div style="padding-left:20px;">
                        <h4>
                            {{alertMsg}}

                        </h4>
                    </div>
                </div>

            </div>
            <!-- END Responsive table-->
            <!-- START Panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span data-i18n="_HourlyIncomingCallsDistribution_"></span>
                       
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <flot dataset="barChartCalls" options="chartBarFlotChart"></flot>
                        </div>

                    </div>
                </div>
            </div>

            <!-- START Responsive table-->
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th class="text-center"><span data-i18n="_Department_"></span></th>
                                <th class="text-center"><span data-i18n="_TotalCalls_"></span></th>
                                <th class="text-center"><span data-i18n="_TotalOut_"></span></th>
                                <th class="text-center"><span data-i18n="_TotalIn_"></span></th>
                                <th class="text-center"><span data-i18n="_Missed_"></span></th>
                                <th class="text-center"><span data-i18n="_Transferred_"></span></th>
                                <th class="text-center"><span data-i18n="_AvgTalkTime_"></span></th>
                                <th class="text-center"><span data-i18n="_TotalTalkTime_"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in grid">
                                <td>{{data.department}}</td>
                                <td>{{data.totalCalls}}</td>
                                <td>{{data.totalOut}}</td>
                                <td>{{data.totalIn}}</td>
                                <td>{{data.missed}}</td>
                                <td>{{data.transferred}}</td>
                                <td>{{data.avgTalkTime}}</td>
                                <td>{{data.totalTalkTime}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <div style="padding-left:20px;">
                        <h4>
                            {{gridAlertMsg}}

                        </h4>
                    </div>
                </div>

            </div>
            <!-- END Responsive table-->
        </div>
        <!-- END dashboard content-->

    </div>


</div>