<style>
    .card-static {
        color: white;
        padding: 15px;
        height: 150px;
        background: #3f51b5 !important;
    }

    .border-card {
        -webkit-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.75);
        padding-right: 10px;
        font-size: large;
        color: white;
    }

    .flip, .flipwaiting, .flipin, .flipout, .flipmissed {
        font-size: large;
        -webkit-perspective: 800;
        position: relative;
        line-height: 15px !important;
        overflow: hidden;
    }

        .flip .row {
            margin-bottom: 5px;
        }

        .flip .card.flipped {
            -webkit-transform: rotatex(-180deg);
        }

        .flip .card {
            width: 100%;
            height: 100%;
            -webkit-transform-style: preserve-3d;
            -webkit-transition: 0.5s;
        }

            .flip .card .face {
                width: 100%;
                height: 100%;
                position: absolute;
                -webkit-backface-visibility: hidden;
                z-index: 2;
                padding: 15px;
            }

            .flip .card .front {
                position: absolute;
                z-index: 1;
                background-color: #3f51b5 !important;
                color: #dce0f3;
                height: 100%;
                color: white;
                cursor: pointer;
            }

            .flip .card .back {
                -webkit-transform: rotatex(-180deg);
                background-color: #3f51b5 !important;
                color: #dce0f3;
                cursor: pointer;
            }
</style>
<div ng-controller="wallboardController">
    <!--<div class="app-view-header text-center" style="padding-left:15px;" data-i18n="_WallBoard_">

    </div>-->
    <div class="row" style="padding-top:20px;">
        <div class="col-md-4" id="extensions" >
            <div class="text-center border-card " style="background:#00004c;width: 99.7%;">Calls By Extensions</div>
            <div class="table-responsive">
                <table class="table table-bordered" style="background:#3f51b5;color:white;">
                    <thead style="background:#00004c">
                        <tr>
                            <td>Extension</td>
                            <td>In</td>
                            <td>Out</td>
                            <td>Int</td>
                            <td>Total</td>
                            <td>Talk Time</td>
                            <td>Avg. Talk Time</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in CallsbyExtension">
                            <td>{{data.extensionNumber}} - {{data.extensionName}}</td>
                            <td>{{data.in}}</td>
                            <td>{{data.out}}</td>
                            <td>{{data.internal}}</td>
                            <td>{{data.totalCalls}}</td>
                            <td>{{data.totalTalkTime}}</td>
                            <td>{{data.avgTalkTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8 no-right-padding ">
            <div class="col-md-4 no-right-padding ">
                <div>
                    <div class="flip flipin" id="in">
                        <div class="card">

                            <div style="height:150px;">
                                <div class="face front">


                                    <div class="col-md-12">

                                        <div style="height:84px;">
                                            <h1 class="text-thin mt">{{model.totalIn}}</h1>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="face back">
                                    <div class="row">
                                        <div class="col-md-6">
                                            From
                                        </div>
                                        <div class="col-md-6">
                                            Time
                                        </div>
                                    </div>
                                    <div class="row" ng-repeat="data in inCalls">
                                        <div class="col-md-6">
                                            <span style="color:white;font-size:12px;">{{data.from}}</span>
                                        </div>
                                        <div class="col-md-6">
                                            <span style="color:white;font-size:12px;">{{data.time}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="text-right border-card " style="background:#00004c">Active In</div>
                </div>
            </div>
            <div class="col-md-4 no-right-padding ">
                <div>
                    <div class="flip flipout" id="out">
                        <div class="card">
                            <div style="height:150px;">
                                <div class="face front">
                                    <div class="col-md-12">
                                        <div style="height:84px;">
                                            <h1 class="text-thin mt">{{model.totalOut}}</h1>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="face back">
                                    <div class="row">
                                        <div class="col-md-6">
                                            From
                                        </div>
                                        <div class="col-md-6">
                                            Time
                                        </div>
                                    </div>
                                    <div class="row" ng-repeat="data in outCalls">
                                        <div class="col-md-6">
                                            <span style="color:white;font-size:12px;">{{data.from}}</span>
                                        </div>
                                        <div class="col-md-6">
                                            <span style="color:white;font-size:12px;">{{data.time}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right border-card " style="background:#00004c">Active Out</div>
                </div>
            </div>
            <div class="col-md-4 no-right-padding ">
                <div>
                    <div class="flip flipwaiting" id="waiting">
                        <div class="card">
                            <div style="height:150px;">
                                <div class="face front">
                                    <div class="col-md-12">
                                        <div style="height:84px;">
                                            <h1 class="text-thin mt">{{waitingCalls.length}}</h1>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="face back">
                                    <div class="row">
                                        <div class="col-md-6">
                                            From
                                        </div>
                                        <div class="col-md-6">
                                            Time
                                        </div>
                                    </div>
                                    <div class="row" ng-repeat="data in waitingCalls">
                                        <div class="col-md-6">
                                            <span style="color:white;font-size:12px;">{{data.from}}</span>
                                        </div>
                                        <div class="col-md-6">
                                            <span style="color:white;font-size:12px;">{{data.time}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="text-right hidden" style="font-size:large;" data-i18n="_ActiveCalls_"></div>
                    </div>
                    <div class="text-right border-card " style="background:#00004c">Waiting</div>
                </div>
            </div>

            <div class="col-md-4 no-right-padding">
                <div class="flip flipmissed" id="missed">
                    <div class="card">

                        <div style="height:150px;">
                            <div class="face front">


                                <div class="col-md-12">

                                    <div style="height:84px;">
                                        <h1 class="text-thin mt">{{model.totalMissed}}</h1>
                                    </div>
                                    <div>


                                    </div>


                                </div>
                            </div>
                            <div class="face back">
                                <div class="row">
                                    <div class="col-md-6">
                                        From
                                    </div>
                                    <div class="col-md-6">
                                        Time
                                    </div>
                                </div>
                                <div class="row" ng-repeat="data in MCalls">
                                    <div class="col-md-6">
                                        <span style="color:white;font-size:12px;">{{data.cli}}</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span style="color:white;font-size:12px;">{{data.connectTime |  date : "d.MMM" }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="text-right border-card " style="background:#00004c;">Today's Missed</div>
            </div>
            <div class="col-lg-4 no-right-padding">
                <div class="card-static">
                    <h1 class="text-thin mt" style="padding-left:15px;">{{model.inboundCalls}} </h1>
                </div>
                <div class="text-right border-card " style="background:#00004c">In Bound</div>
            </div>
            <div class="col-lg-4 no-right-padding">
                <div class="card-static">
                    <h1 class="text-thin mt" style="padding-left:15px;">{{model.outboundCalls}}</h1>
                </div>
                <div class="text-right border-card " style="background:#00004c">Today's Out Bound</div>
            </div>
            <div class="col-lg-4 no-right-padding">
                <div class="card-static">
                    <h1 class="text-thin mt" style="padding-left:15px;">{{model.answeredCalls}}</h1>
                </div>
                <div class="text-right border-card " style="background:#00004c">Today's Answered</div>
            </div>
            <div class="col-md-4 no-right-padding">
                <div class="card-static">
                    <h1 class="text-thin mt" style="padding-left:15px;">{{model.talkTime}}</h1>
                </div>
                <div class="text-right border-card " style="background:#00004c">Total Talk Time</div>
            </div>
            <div class="col-lg-4 no-right-padding">
                <div class="card-static">
                    <h1 class="text-thin mt" style="padding-left:15px;">{{model.averageTalkTime}}</h1>
                </div>
                <div class="text-right border-card " style="background:#00004c">Average Talk Time</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <!--<div class="app-view-header">
                <div class="center-block mt-xl">
                    <img src="{{serviceBase}}/Assets/Images/CompanyLogo/Logo.png" alt="Image" style="width:200px" class="center-block img-rounded" />
                </div>
            </div>-->
            <!-- END dashboard content-->
            <div class="row fw-boxed" style="margin-top:20px;">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="panel panel-default" style="padding:0px;">
                            <div class="panel-heading">
                                <div class="panel-title" data-i18n="_HourlyIncomingCalls_"></div>
                            </div>
                            <div class="panel-body">

                                <flot src="HourlyIncomingData" options="chartLineFlotChartIn" series="{lines: lineSeriesLines, points: lineSeriesPoints}"></flot>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title" data-i18n="_HourlyOutgoingCalls_"></div>
                            </div>
                            <div class="panel-body">

                                <flot src="HourlyOutgoingData" options="chartLineFlotChartOut" series="{lines: lineSeriesLines, points: lineSeriesPoints}"></flot>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<script type="text/javascript">
    $('#waiting').click(function () {

        clickwaiting();
        setLocalStorage();

    });
    $('#in').click(function () {

        clickin();

    });
    $('#out').click(function () {

        clickout();

    });
    $('#missed').click(function () {

        clickmissed();

    });
    function clickwaiting() {

        $('.flipwaiting').find('.card').toggleClass('flipped');
        if (typeof (Storage) !== "undefined") {
            if ($('.flipwaiting').find('.card').hasClass('flipped')) {
                localStorage.setItem("FlipWaiting", "1")
            }
            else {
                localStorage.setItem("FlipWaiting", "0")
            }

        }
    }
    function clickin() {

        $('.flipin').find('.card').toggleClass('flipped');
        if (typeof (Storage) !== "undefined") {
            if ($('.flipin').find('.card').hasClass('flipped')) {
                localStorage.setItem("FlipIn", "1")
            }
            else {
                localStorage.setItem("FlipIn", "0")
            }

        }
    }
    function clickout() {

        $('.flipout').find('.card').toggleClass('flipped');
        if (typeof (Storage) !== "undefined") {
            if ($('.flipout').find('.card').hasClass('flipped')) {
                localStorage.setItem("FlipOut", "1")
            }
            else {
                localStorage.setItem("FlipOut", "0")
            }

        }
        return false;
    }
    function clickmissed() {

        $('.flipmissed').find('.card').toggleClass('flipped');
        if (typeof (Storage) !== "undefined") {
            if ($('.flipmissed').find('.card').hasClass('flipped')) {
                localStorage.setItem("FlipMissed", "1")
            }
            else {
                localStorage.setItem("FlipMissed", "0")
            }

        }
    }
    $(document).ready(function () {

        var missedCalls;
        var inCalls;
        var outCalls;
        var waitingCalls;
        if (typeof (Storage) !== "undefined") {
            if (localStorage.FlipMissed) {
                missedCalls = localStorage.getItem("FlipMissed");
                if (missedCalls == "1") { clickmissed(); }
            }
            else { localStorage.setItem("FlipMissed", "0") }
            if (localStorage.FlipOut) {
                outCalls = localStorage.getItem("FlipOut");
                if (outCalls == "1") { clickout(); }
            }
            else { localStorage.setItem("FlipOut", "0"); }
            if (localStorage.FlipIn) {
                inCalls = localStorage.getItem("FlipIn");
                if (inCalls == "1") { clickin(); }
            }
            else { localStorage.setItem("FlipIn", "0"); }
            if (localStorage.FlipWaiting) {
                waitingCalls = localStorage.getItem("FlipWaiting");
                if (waitingCalls == "1") { clickwaiting(); }
            }
            else { localStorage.setItem("FlipWaiting", "0") }
        }

    })

</script>