﻿<div class="col-md-12">
    <h4 class="page-header" data-i18n="_Chart_"></h4>


    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" data-i18n="_TotalCallsOffered_"></div>
            </div>
            <div class="panel-body">
                <flot dataset="callOffered" options="chartBarFlotChart"></flot>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" data-i18n="_TotalCallsAnswered_"></div>
            </div>
            <div class="panel-body">
                <flot dataset="answered" options="chartBarFlotChart"></flot>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" data-i18n="_TotalAnsweredinTarget_"></div>
            </div>
            <div class="panel-body">
                <flot dataset="answeredInTarget" options="chartBarFlotChart"></flot>

            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" data-i18n="_GradeofService_"></div>
            </div>
            <div class="panel-body">
                <flot dataset="gos" options="chartBarFlotChart"></flot>

            </div>
        </div>
    </div>

</div>