﻿
<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="modalOptions.close()">×</button>
    <h4 id="myModalLabel" class="modal-title">{{modalOptions.headerText}}</h4>


</div><div class="modal-body">
    {{modalOptions.bodyText}}
</div>
<div class="modal-footer">
    <button ng-click="modalOptions.ok()" class="btn btn-danger">{{modalOptions.actionButtonText}}</button>
    <button ng-click="modalOptions.close()" class="btn btn-warning">Cancel</button>
</div>