<div ng-controller="costcentreController">
    <div class="app-view-header">
        <span data-i18n="_CostCentre_"></span>
        <a href="#/app/costcentre?id=0" ng-if="permissionAccessLevel.isAdd" class="btn btn-success pull-right" style="margin-top:10px;">Create New Cost Centre</a>
    </div>



    <div class="container-fluid">
        




        <table class="table table-bordered table-hover bg-white">
            <tr style="font-weight: bold">
                <td style="width:20%" data-i18n="_Name_"></td>
                <td style="width:10%"></td>
            </tr>

            <tr ng-repeat="costcentre in costcentreList">
                <td>
                    <span>{{ costcentre.costCentreName}}</span>
                </td>

                <td style="white-space: nowrap">

                    <div class="buttons">
                        <a href="#/app/editcostcentre?id={{costcentre.id}}" ng-if="permissionAccessLevel.isEdit" title="Edit" class="btn btn-sm btn-info">
                            <em class="fa fa-pencil"></em>
                        </a>
                        <button ng-click="delete(costcentre.id)" title="Delete" ng-if="permissionAccessLevel.isDelete" class="btn btn-sm btn-danger">
                            <em class="fa fa-trash"></em>
                        </button>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>