<div class="app-view-header">
    <span data-i18n="__Division__"></span>
</div>


<!-- START row-->
<div ng-controller="divisionController" class="row">
    <div class="col-md-12">
        <form name="divisionForm" ng-submit="divisionSubmit(divisionForm.$valid)">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" data-i18n="_Name_"></label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="model.divisionName" required="" class="form-control" />
                            </div>

                        </div>
                    </fieldset>
                </div>


                <div class="panel-footer text-center">
                    <button type="button" class="btn btn-info" ng-click="cancel()" data-i18n="_Cancel_"></button>
                    <button type="submit" class="btn btn-info" ng-disabled="divisionForm.$invalid" data-i18n="_Submit_"></button>
                </div>

            </div>
            <!-- END panel-->
            <!-- END row-->
        </form>
</div>
</div>
