<div ng-controller="divisionController">
    <div class="app-view-header">
        <span data-i18n="__Division__"></span>
        <a href="#/app/division?id=0" ng-if="permissionAccessLevel.isAdd" class="btn btn-success pull-right" style="margin-top:10px;">Create New Division</a>
    </div>

    <div class="container-fluid">


        <!-- Editable row-->
        <!--<h4 class="page-header">Division</h4>-->

        <table class="table table-bordered table-hover bg-white">
            <tr style="font-weight: bold">
                <td style="width:20%" data-i18n="_Name_"></td>
                <td style="width:10%"></td>
            </tr>

            <tr ng-repeat="division in divisionList">
                <td>
                    <span>{{ division.divisionName}}</span>
                </td>

                <td style="white-space: nowrap">

                    <div class="buttons">
                        <a href="#/app/editdivision?id={{division.id}}" ng-if="permissionAccessLevel.isEdit" title="Edit" class="btn btn-sm btn-info">
                            <em class="fa fa-pencil"></em>
                        </a>
                        <button ng-click="delete(division.id)" title="Delete" ng-if="permissionAccessLevel.isDelete" class="btn btn-sm btn-danger">
                            <em class="fa fa-trash"></em>
                        </button>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>