﻿<!DOCTYPE html>
<!--[if IE 9 ]>    <html class="ie9" lang="en" ng-app="naut"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" ng-app="naut">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <!--<title data-ng-bind="pageTitle()">Smart Reports</title>-->
    <title>Smart Reports</title>
    <link href="app/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="app/bower_components/weather-icons/css/weather-icons.min.css" rel="stylesheet" />
    <!-- build:css app/css/application.css-->
    <link rel="stylesheet" href="app/css/bootstrap.css">
    <link rel="stylesheet" href="app/css/styles.css">

    <link href="app/plugins/loading-bar/loading-bar.css" rel="stylesheet" />

    <style type="text/css" ng-controller="appsettingController">
        {{model.customStyles}}


        .login{
            position:fixed;
            width: 100%;
            min-height: 100%;
            height: auto;
        }
    </style>



    <!-- endbuild-->
</head>
<body ng-clok="" ng-class="{ 'layout-fixed' : app.layout.isFixed, 'layout-boxed' : app.layout.isBoxed, 'layout-dock' : app.layout.isDocked, 'layout-material': app.layout.isMaterial, 'aside-offscreen' : app.sidebar.isOffscreen, 'footer-hidden': app.footer.hidden, 'in-app': !$state.includes('page')}">
    <div data-ui-view="" data-autoscroll="false" ng-controller="CoreController" class="app-container"></div>
    <!-- Settings-->
    <!--<div ng-include="'templates/settings.html'" ng-class="{'visible': showSettings}" ng-init="showSettings = false" class="settings-wrapper"></div>-->
    <!-- End Settings-->
    <!-- Layer Morph -->
    <div class="layer-morph-overlay">
        <div class="layer-morph-inner bg-info"></div>
    </div>
    <div layer-morph-close="" class="layer-morph-close">
        <em class="icon-cross"></em>
    </div>
    <div class="layer-morph-container bg-info">
        <div class="layer-morph-wrapper">
            <div id="layer-search" ng-include="'templates/layer-search.html'" class="layer-morph"></div>
            <div class="layer-morph-footer">Smart Reports</div>
        </div>
    </div>
    <!-- End Layer Morph -->
    <!-- build:vendor app/js/vendor.js-->
    <script src="vendor/modernizr/modernizr.js"></script>

    <script src="vendor/jquery/dist/jquery.js"></script>

    <!--<script src="app/js/jquery-1.6.4.min.js"></script>-->
    <!--<script src="app/js/jquery.signalR-2.0.0.js"></script>

    <script src="/signalr/hubs"></script>-->

    <script src="vendor/angular/angular.js"></script>
    <script src="app/bower_components/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>


    <script src="app/plugins/morisChart/lib/angular-morris-chart.min.js"></script>

    <script src="app/plugins/pieChart/d3.min.js"></script>
    <script src="app/plugins/pieChart/pie-chart.min.js"></script>
    <script src="app/plugins/paginition/paging.js"></script>
    <script src="app/plugins/toastr/jquery.toaster.js"></script>
    <script src="vendor/angular/angular-local-storage.min.js"></script>
    <script src="vendor/angular-cookies/angular-cookies.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-touch/angular-touch.js"></script>
    <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-translate/angular-translate.js"></script>
    <script src="vendor/ngstorage/ngStorage.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="vendor/angular-ui-utils/ui-utils.js"></script>
    <script src="vendor/angular-translate-loader-url/angular-translate-loader-url.js"></script>
    <script src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="vendor/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="vendor/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="vendor/angular-dynamic-locale/dist/tmhDynamicLocale.js"></script>
    <script src="vendor/oclazyload/dist/ocLazyLoad.js"></script>
    <!--<script src="app/plugins/loading-bar/loading-bar.min.js"></script>-->
    <script src="vendor/angular-loading-bar/build/loading-bar.js"></script>

    <!-- endbuild-->
    <!-- build:js app/js/application.js-->
    <script src="src/js/app.module.js"></script>
    <script src="src/js/modules/apps/calendar.controller.js"></script>
    <script src="src/js/modules/apps/chat.controller.js"></script>
    <script src="src/js/modules/apps/mailbox.controller.js"></script>
    <script src="src/js/modules/apps/tasks.controller.js"></script>
    <script src="src/js/modules/cards/cards.controller.js"></script>
    <script src="src/js/modules/charts/flot-chart-options.services.js"></script>
    <script src="src/js/modules/charts/flot-chart.controller.js"></script>
    <script src="src/js/modules/charts/flot-chart.directive.js"></script>
    <script src="src/js/modules/charts/pie-charts.controller.js"></script>
    <script src="src/js/modules/charts/sparklines.directive.js"></script>
    <script src="src/js/modules/colors/colors.constant.js"></script>
    <script src="src/js/modules/colors/colors.run.js"></script>

    <script src="src/js/modules/colors/colors.service.js"></script>
    <script src="src/js/modules/common/directives/animate-enabled.directive.js"></script>
    <script src="src/js/modules/common/directives/chained-animation.directive.js"></script>
    <script src="src/js/modules/common/directives/check-all-table.directive.js"></script>
    <script src="src/js/modules/common/directives/fullscreen.directive.js"></script>
    <script src="src/js/modules/common/directives/reset-key.directive.js"></script>
    <script src="src/js/modules/common/filters/title-case.filter.js"></script>
    <!--Service Start-->
    <script src="src/js/modules/common/services/browser-detection.service.js"></script>
    <script src="src/js/modules/common/services/support.service.js"></script>
    <script src="src/js/modules/common/services/touch-drag.service.js"></script>
    <script src="src/js/modules/common/services/authInterceptor.service.js"></script>
    <script src="src/js/modules/common/services/remember-me.service.js"></script>
    <script src="src/js/modules/common/services/modal.service.js"></script>
    <script src="src/js/modules/common/services/logger.service.js"></script>


    <!--Service End-->
    <script src="src/js/modules/core/config.js"></script>
    <script src="src/js/modules/core/constants.js"></script>
    <script src="src/js/modules/core/core.controller.js"></script>
    <script src="src/js/modules/core/core.run.js"></script>
    <!--<script src="src/js/modules/dashboard/dashboard.controller.js"></script>-->
    <script src="src/js/modules/forms/file-style.directive.js"></script>
    <script src="src/js/modules/forms/file-upload.controller.js"></script>
    <script src="src/js/modules/forms/form-input.controller.js"></script>
    <script src="src/js/modules/forms/form-validation.controller.js"></script>
    <script src="src/js/modules/forms/form-xeditable.controller.js"></script>
    <script src="src/js/modules/forms/image-crop.controller.js"></script>
    <script src="src/js/modules/forms/slider.controller.js"></script>

    <script src="src/js/modules/forms/ui-select.controller.js"></script>

    <script src="src/js/modules/icons/climacon.directive.js"></script>
    <script src="src/js/modules/layermorph/layer-morph.directive.js"></script>
    <script src="src/js/modules/layermorph/layer-morph.service.js"></script>
    <script src="src/js/modules/layout/header-nav.controller.js"></script>
    <script src="src/js/modules/layout/ui-sidebar.directive.js"></script>
    <script src="src/js/modules/loadingbar/loadingbar.config.js"></script>
    <script src="src/js/modules/loadingbar/loadingbar.run.js"></script>
    <script src="src/js/modules/maps/google-map.controller.js"></script>
    <script src="src/js/modules/maps/vector-map.controller.js"></script>
    <script src="src/js/modules/maps/vector-map.directive.js"></script>
    <script src="src/js/modules/ripple/ripple.directive.js"></script>
    <script src="src/js/modules/routes/routes.config.js"></script>
    <script src="src/js/modules/routes/routes.provider.js"></script>
    <script src="src/js/modules/routes/routes.run.js"></script>
    <script src="src/js/modules/routes/vendor.constants.js"></script>
    <script src="src/js/modules/settings/settings.controller.js"></script>
    <script src="src/js/modules/settings/settings.service.js"></script>
    <script src="src/js/modules/tables/angular-table.controller.js"></script>
    <script src="src/js/modules/tables/responsive-table.controller.js"></script>
    <script src="src/js/modules/tables/table-xeditable.controller.js"></script>
    <script src="src/js/modules/translator/localization.config.js"></script>
    <script src="src/js/modules/translator/localization.controller.js"></script>
    <script src="src/js/modules/translator/translator.config.js"></script>
    <script src="src/js/modules/translator/translator.service.js"></script>
    <script src="src/js/modules/ui/alerts.controller.js"></script>
    <script src="src/js/modules/ui/buttons.controller.js"></script>
    <script src="src/js/modules/ui/carousel.controller.js"></script>
    <script src="src/js/modules/ui/datepicker.controller.js"></script>
    <script src="src/js/modules/ui/modal.controller.js"></script>
    <script src="src/js/modules/ui/nav-tree.controller.js"></script>
    <script src="src/js/modules/ui/nestable.controller.js"></script>
    <script src="src/js/modules/ui/nestable.directive.js"></script>
    <script src="src/js/modules/ui/notification.controller.js"></script>
    <script src="src/js/modules/ui/pagination.controller.js"></script>
    <script src="src/js/modules/ui/popover.controller.js"></script>
    <script src="src/js/modules/ui/portlets.directive.js"></script>
    <script src="src/js/modules/ui/progress.controller.js"></script>
    <script src="src/js/modules/ui/rating.controller.js"></script>
    <script src="src/js/modules/ui/scrollable.directive.js"></script>
    <script src="src/js/modules/ui/sortable.controller.js"></script>
    <script src="src/js/modules/ui/timepicker.controller.js"></script>
    <script src="src/js/modules/ui/toaster.controller.js"></script>
    <script src="src/js/modules/ui/tooltip.config.js"></script>
    <script src="src/js/modules/ui/tooltip.controller.js"></script>
    <script src="src/js/modules/ui/typeahead.controller.js"></script>
    <script src="app/js/templates.js"></script>
    <script src="src/js/modules/common/services/localize.service.js"></script>
    

    <!-- endbuild-->
    <!--custom service Start-->
    <script src="src/js/modules/common/services/authorizationService.js"></script>
    <script src="src/js/custom/services/Init/init.service.js"></script>
    <script src="src/js/modules/common/services/modal.service.js"></script>
    <script src="src/js/custom/services/account/auth.service.js"></script>
    <script src="src/js/custom/services/account/role.service.js"></script>
    <script src="src/js/custom/services/report/report.service.js"></script>

    <script src="src/js/custom/services/division/division.service.js"></script>
    <script src="src/js/custom/services/department/department.service.js"></script>
    <script src="src/js/custom/services/costcentre/costcentre.service.js"></script>
    <script src="src/js/custom/services/extension/extension.service.js"></script>
    <script src="src/js/custom/services/permission/permission.service.js"></script>
    <script src="src/js/custom/services/systemSetting/systemSetting.service.js"></script>
    <script src="src/js/custom/services/systemSetting/appsetting.service.js"></script>
    <script src="src/js/custom/services/product/product.service.js"></script>
    <script src="src/js/custom/services/company/company.service.js"></script>
    <script src="src/js/custom/services/dashboard/dashboard.service.js"></script>
    <script src="src/js/modules/common/services/queueService.js"></script>
    <!--custom service end-->
    <!--custom Controllers Start-->
    <script src="src/js/custom/controllers/account/login.controller.js"></script>
    <script src="src/js/custom/controllers/account/role.controller.js"></script>
    <script src="src/js/custom/controllers/account/user.controller.js"></script>
    <script src="src/js/custom/controllers/account/passwordReset.controller.js"></script>
    <script src="src/js/custom/controllers/report/reportCatalogue.controller.js"></script>
    <script src="src/js/custom/controllers/report/report.controller.js"></script>
    <script src="src/js/custom/controllers/Menu/sidebar.controller.js"></script>
    <script src="src/js/custom/controllers/division/division.controller.js"></script>
    <script src="src/js/custom/controllers/department/department.controller.js"></script>
    <script src="src/js/custom/controllers/costcentre/costcentre.controller.js"></script>
    <script src="src/js/custom/controllers/extension/extension.controller.js"></script>
    <script src="src/js/custom/controllers/permission/permission.controller.js"></script>
    <script src="src/js/custom/controllers/systemSetting/systemSetting.controller.js"></script>
    <script src="src/js/custom/controllers/systemSetting/appsetting.controller.js"></script>
    <script src="src/js/custom/controllers/product/product.controller.js"></script>
    <script src="src/js/custom/controllers/company/company.controller.js"></script>
    <script src="src/js/custom/controllers/dashboard/dashboard.controller.js"></script>
    <script src="src/js/custom/controllers/dashboard/wallboard.controller.js"></script>

    <!--custom Controllers End-->

</body>
</html>